# Income Statement

In [1]:
import pandas as pd
import numpy as np

## Financial Accounting

In [2]:
financial_df = pd.read_csv('../data/double_entry_financial_accounting.csv')

financial_df['Date'] = pd.to_datetime(financial_df['Date'])
financial_df['Date'] = financial_df['Date'] - pd.DateOffset(years=1)

financial_df.rename(columns={'Transaction_Type': 'Transaction Type', 'Payment_Method': 'Payment Method'}, inplace=True)

financial_revenue_df = financial_df[(financial_df['Category'] == 'Revenue')]
financial_expense_df = financial_df[(financial_df['Category'] == 'Expense')]

financial_total_revenue = financial_revenue_df['Credit'].sum() - financial_revenue_df['Debit'].sum()

financial_total_expenses = financial_expense_df['Debit'].sum() - financial_expense_df['Credit'].sum()

financial_net_income = financial_total_revenue - financial_total_expenses

financial_income_statement = pd.DataFrame({
    'Category': ['Total Revenue', 'Total Expenses', 'Net Income'],
    'Amount': [financial_total_revenue, financial_total_expenses, financial_net_income]
})

print(financial_income_statement)

         Category       Amount
0   Total Revenue  11464357.68
1  Total Expenses   3644634.44
2      Net Income   7819723.24

## Managerial Accounting

In [3]:
managerial_df = pd.read_csv('../data/double_entry_managerial_accounting.csv')

managerial_df['Date'] = pd.to_datetime(managerial_df['Date'])

managerial_revenue_df = managerial_df[managerial_df['Transaction Type'] == 'Revenue']
managerial_expense_df = managerial_df[managerial_df['Transaction Type'] == 'Expense']

managerial_revenue_totals = managerial_revenue_df.groupby('Account').apply(lambda x: x['Credit'].sum() - x['Debit'].sum()).reset_index(name='Total Revenue')
managerial_expense_totals = managerial_expense_df.groupby('Account').apply(lambda x: x['Debit'].sum() - x['Credit'].sum()).reset_index(name='Total Expense')

managerial_income_statement = pd.merge(managerial_revenue_totals, managerial_expense_totals, on='Account', how='outer')
managerial_income_statement.fillna(0.0, inplace=True)
managerial_income_statement['Net Income'] = managerial_income_statement['Total Revenue'] - managerial_income_statement['Total Expense']

print(managerial_income_statement)

           Account  Total Revenue  Total Expense   Net Income
0             Cash   -77262623.47   -19702326.72 -57560296.75
1  Revenue Account    77262623.47           0.00  77262623.47
2  Expense Account           0.00    19702326.72 -19702326.72

## Online Retail

In [4]:
online_retail_df = pd.read_csv('../data/double_entry_online_retail.csv')

online_retail_df['Date'] = pd.to_datetime(online_retail_df['Date'])

online_retail_df = online_retail_df[online_retail_df['Account'] == 'Sales Revenue']

online_retail_revenue = online_retail_df['Credit'].sum()

online_retail_income_statement = pd.DataFrame({
    'Category': ['Total Sales Revenue'],
    'Amount': [online_retail_revenue]
})

print(online_retail_income_statement)

              Category      Amount
0  Total Sales Revenue  1559176.95

## Final Income Statement

In [5]:
financial_df = pd.read_csv('../data/double_entry_financial_accounting.csv')
managerial_df = pd.read_csv('../data/double_entry_managerial_accounting.csv')
online_retail_df = pd.read_csv('../data/double_entry_online_retail.csv')

financial_df['Date'] = pd.to_datetime(financial_df['Date']) - pd.DateOffset(years=1)
managerial_df['Date'] = pd.to_datetime(managerial_df['Date'])
online_retail_df['Date'] = pd.to_datetime(online_retail_df['Date'])

financial_df.rename(columns={'Transaction_Type': 'Transaction Type', 'Payment_Method': 'Payment Method'}, inplace=True)

financial_revenue_df = financial_df[(financial_df['Category'] == 'Revenue')]
financial_expense_df = financial_df[(financial_df['Category'] == 'Expense')]
financial_total_revenue = financial_revenue_df['Credit'].sum() - financial_revenue_df['Debit'].sum()
financial_total_expenses = financial_expense_df['Debit'].sum() - financial_expense_df['Credit'].sum()
financial_net_income = financial_total_revenue - financial_total_expenses

managerial_revenue_df = managerial_df[managerial_df['Transaction Type'] == 'Revenue']
managerial_expense_df = managerial_df[managerial_df['Transaction Type'] == 'Expense']
managerial_revenue_totals = managerial_revenue_df.groupby('Account').apply(lambda x: x['Credit'].sum() - x['Debit'].sum()).reset_index(name='Total Revenue')
managerial_expense_totals = managerial_expense_df.groupby('Account').apply(lambda x: x['Debit'].sum() - x['Credit'].sum()).reset_index(name='Total Expense')
managerial_income_statement = pd.merge(managerial_revenue_totals, managerial_expense_totals, on='Account', how='outer')
managerial_income_statement.fillna(0.0, inplace=True)
managerial_net_income = managerial_income_statement['Total Revenue'].sum() - managerial_income_statement['Total Expense'].sum()

online_retail_df = online_retail_df[online_retail_df['Account'] == 'Sales Revenue']
online_retail_revenue = online_retail_df['Credit'].sum()

combined_income_statement = pd.DataFrame({
    'Category': ['Financial Total Revenue', 'Financial Total Expenses', 'Financial Net Income',
                 'Managerial Net Income', 'Online Retail Revenue'],
    'Amount': [financial_total_revenue, financial_total_expenses, financial_net_income,
               managerial_net_income, online_retail_revenue]
})

combined_income_statement.loc['Overall Net Income'] = ['Overall Net Income', 
                                                       combined_income_statement['Amount'].sum()]

print(combined_income_statement)

                                    Category       Amount
0                    Financial Total Revenue  11464357.68
1                   Financial Total Expenses   3644634.44
2                       Financial Net Income   7819723.24
3                      Managerial Net Income         0.00
4                      Online Retail Revenue   1559176.95
Overall Net Income        Overall Net Income  24487892.31